@use '../sidebar-common.modules';

.sidebarItem {
  :global(i.icon) {
    margin-right: 15px;
    color: sidebar-common.$grey;
  }

  &.highlight {
    span {
      font-weight: 600;
    }

    // Icon class added by Semantic UI 
    :global(i.icon) {
      color: sidebar-common.$red;
    }
  }
}

.alignmentContainer {
  display: flex;
  align-items: center;
}