@use '../sidebar-common.modules';

.subscription {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .leftContainer {
    display: flex;
    align-items: center;
    overflow: hidden;

    .label {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  // Icon class added by Semantic UI 
  :global(i.icon) {
    color: sidebar-common.$red;
    margin: 0;
  }

  .videoCount {
    color: sidebar-common.$grey;
  }
}