.ui.top-menu.menu {
  border: none; /*Remove Semantic UI's bottom shadow border */
  padding: 8px 15px;

  div {
    padding: 0;
  }

  .left img {
    width: 90px;
  }

  .center {
    flex-grow: 1;
    justify-content: center;
    margin: 0px 10px;

    .search {
      flex-grow: 0.5;
    }
  }

  .right {
    gap: 10px;

    .item {
      min-width: 32px;
      min-height: 32px;
      align-content: center;
      justify-content: center;
    }

    .header-icon {
      color: #a0a0a0;
      margin: 0px
    }

    .avatar {
      margin: 0px;
    }
  }
}