// Global specificity to override Semantic UI
:global(.ui.menu).topMenu {
  border: none; // Remove Semantic UI bottom shadow border
  padding: 8px 15px;

  div {
    padding: 0;
  }

  .left img {
    width: 90px;
  }

  .center {
    flex-grow: 1;
    justify-content: center;
    margin: 0px 10px;

    .search {
      flex-grow: 0.5;
    }
  }

  // Class added by Semantic UI 
  :global(.right) {
    gap: 10px;

    // Class added by Semantic UI 
    :global(.item) {
      min-width: 32px;
      min-height: 32px;
      align-content: center;
      justify-content: center;
    }

    .headerIcon {
      color: #a0a0a0;
      margin: 0px
    }

    // Class added by Semantic UI 
    :global(.avatar) {
      margin: 0px;
    }
  }
}