
$primary-text-color: #111111;
$secondary-text-color: #6e6e6e;

// Is this really a good practice? Might it be better to use a grid layout for the page?

/** Total height of the top nav bar. Needed to properly position and size the side bar and content
  * pannels. This value must be manually adjusted according the actual nav bar height. */
$header-nav-height: 52px;

/** Total width of the left nav bar. Needed to properly position and size the content pannels.
  * This value actually sets the side bar width. */
$sidebar-width: 17rem;

/** Diameter for normal sized avatar images. */
$avatar-diameter: 48px;

/** Margin for normal sized avatar images. */
$avatar-margin: 10px;

/** Defines width/height and margin for an avatar positioned on the left side of the screen. */
@mixin left-avatar {
  width: $avatar-diameter;
  height: $avatar-diameter;
  margin-right: $avatar-margin;
}

/** Overrides for Semantic UI labeled buttons. */
@mixin labeled-button {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  
  padding-left: 47px !important;
  padding-right: 11px !important;
}
