@use './sidebar-common.modules';
@use '../../styles/shared.module';

// Global specificity is to override Semantic UI
:global(.ui.menu.fixed).sidebar {
  width: shared.$sidebar-width;
  background: sidebar-common.$sidebar-background;
  overflow-y: auto;
  
  // Is this really a good practice? Might it be better to use a grid layout for the page?
  margin-top: shared.$header-nav-height;
  padding-bottom: shared.$header-nav-height;
}

